@font-face {
    font-family: 'roboto';
    src: url('../font/Roboto-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #efefef;
    font-family: 'roboto';
}

/* *header */
.nav{
    margin-left: 70px;
    margin-top: 20px;
}

.nav_list{
    display: inline-block;
    margin-left: 30px;
    list-style: none;
    color: #659D89;

}

.nav_list:hover{
    color: #3b5e52;
}

/* *main */
.main{
    margin-top: 100px;
    margin-left: 100px;
}
.info_title{
    color: #659D89;
    font-size: 50px;
}

.info_paragraph{
    font-size: 50px;
}

.info_social{
    margin: 50px 100px 100px 0px;
}

.social_logo{
    text-align: right;
    list-style: none;
}

.social_logo img{
    width: 20px;
    height: 20px;
    opacity: 70%;
}

.social_logo img:hover{
    opacity: 100%;
}

.browse{
    font-size: 16px;
    opacity: 70%;
    margin-bottom: 150px;
}

.browse:hover{
    opacity: 100%;
}

.article_info{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main_emoji{
    text-align: center;
    margin-bottom: 100px;
}

.emoji{
    margin: 20px;
}

.emoji:hover{
    box-shadow: 0px 0px 10px 2px gray;
}

.container{
    text-align: center;
    margin: 70px auto 0px 60px;
    width: 800px;
}

.container h6{
    margin: 15px;
    color: #666666;
}

.container:nth-of-type(2n){
    margin: 70px 60px 0px auto;
}

.container img:hover{
    box-shadow: 0px 0px 10px 2px gray;
}

.footer{
    text-align: center;
    margin-top: 150px;
    height: 200px;
    border-top: 1px solid gray;
    padding: 50px;
}

.footer a{
    color: #666666;
    font-size: 20px;
    text-decoration: none;
}

.footer a:hover{
    color: #1e1e1e;
}

.footer p{
    color: #666666;
    font-size: 10px;
    margin-top: 60px;
}